<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>you submitted</h1>
    <h5>name is <%= person.name%></h5>
    <h5>roll is <%= person.roll%></h5>
</body>
</html>