<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>form </title>
</head>
<body>
    <h1>update stuents</h1>
    <form action='/update' method="POST">
        <input type="text" hidden="hidden" name="id" value="<%= std.id%>">
   name: <input type="text" name="name" value="<%= std.name%>"><br>
   roll: <input type="number" name="roll" value="<%= std.roll%>"><br>
   
    <input type="submit"  value="update data">
    
    </form>
</body>
</html>